header {
  width: 100%;
  height: 100vh;
  background: url(../img/header_back.jpg) no-repeat 0px -10px;
  background-size: cover;
  overflow: hidden;
}
.mainmenu {
  width: 100%;
  height: 120px;
  /* background-color: black; */
  position: relative;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
}
.logo {
  width: 100px;
  height: 50px;
  position: absolute;
  left: 180px;
}
.logo img {
  width: 100%;
}
.mainmenu_list {
  width: 780px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  position: absolute;
  right: 180px;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  letter-spacing: 0.3px;
}
.mainmenu_list li {
  width: auto;
  height: 27px;
  box-sizing: border-box;
  /* background-color: blue; */
}
.mainmenu_list li:hover {
  border-bottom: 2px solid white;
}
.title_wrap {
  width: 588px;
  height: 424px;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  margin-left: 180px;
  margin-top: 142px;
  position: relative;
  top: 0px;
  left: 0px;
}
.title_img {
  width: 588px;
  height: 82px;
}
.title_img img {
  width: 100%;
}
.main_txt {
  margin-top: 53px;
  line-height: 34px;
  font-size: 1.188rem;
  width: 510px;
  height: 165px;
  color: white;
  font-weight: 300;
  /* background-color: blue; */
}
.btn_wrap {
  /* background-color: blue; */
  width: 360px;
  height: 52px;
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
  position: absolute;
  bottom: 0px;
}
.btn_wrap button:first-child {
  background-color: #d23a48;
  color: white;
}
.btn_wrap button {
  width: 168px;
  height: 52px;
  border-radius: 10px;
  border-style: none;
  color: #373737;
  background-color: white;
  font-family: "noto sans kr";
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}
.icon_box {
  /* background-color: red; */
  /height: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 60px;
}
.fa-computer-mouse {
  color: white;
  font-size: 24px;
  animation: ani_mouse 2s infinite;
}
@keyframes ani_mouse {
  0% {
    height: 40px;
  }
  50% {
    height: 10px;
  }
  100% {
    height: 40px;
  }
}
