/* css */
@import "reset.css";
@import "header.css";
@import "synopsis.css";
@import "bestcuts.css";
@import "video.css";
@import "script.css";
@import "poster.css";
@import "footer.css";
/* 구글 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Arizonia&family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+KR:wght@400;500;700;900&family=Noto+Serif+KR:wght@300;400;600;700&family=Roboto:wght@400;700&display=swap");

html,
body {
  font-family: "Noto Serif KR", serif;
  font-size: 16px;
}
.hidden {
  font-size: 0px;
  height: 1px;
  width: 1px;
  line-height: 0px;
  position: absolute;
}
.skipmenu {
  width: 100%;
  height: 30px;
  position: absolute;
  z-index: 9999;
  font-family: "noto sans kr";
}
.skipmenu li {
  width: 100%;
  height: 100%;
  position: absolute;
}
.skipmenu a {
  width: 1px;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  position: absolute;
}
.skipmenu a:focus {
  width: 100%;
  height: 30px;
  background: black;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  line-height: 30px;
  position: absolute;
  border: none;
  outline: none;
}
