/* css */
@import "reset.css";
@import "header.css";
/* 구글 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Noto+Serif+KR:wght@300;400;600;700&family=Roboto:wght@400;700&display=swap");

.hidden {
  font-size: 0px;
  height: 1px;
  width: 1px;
  line-height: 0px;
  position: absolute;
}
html,
body {
  font-family: "Noto Serif KR", serif;
  font-size: 16px;
}
