main {
  width: 100%;
  height: 3290px;
  background-color: #272727;
  position: relative;
  top: 0px;
  left: 0px;
}
.main_wrap {
  width: 1390px;
  height: 100%;
  /* background-color: red; */
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -695px;
}
.synopsis {
  width: 100%;
  height: 860px;
  /* background-color: blue; */
  position: absolute;
  top: 282px;
  display: flex;
}
.synopsis_title_wrap {
  width: 100%;
  height: 64px;
  /* background-color: red; */
  display: flex;
  position: relative;
  top: 0px;
  left: 0px;
}
.synopsis_main_title {
  font-size: 1.875rem;
  color: white;
  opacity: 0.9;
  margin-top: 10px;
}
.synopsis_line {
  width: 90%;
  height: 64px;
  border-bottom: 1px solid white;
  position: absolute;
  left: 0px;
  opacity: 0.9;
}
.synopsis_logo {
  width: 108px;
  height: 48px;
  opacity: 0.3;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.synopsis_logo img {
  width: 100%;
}
.synopsis_list {
  width: 100%;
  height: 290px;
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 172px;
}
.synopsis li {
  width: 434px;
  height: 290px;
}
.synopsis_list li img {
  width: 100%;
}
.synopsis_text_wrap {
  width: 100%;
  height: 296px;
  /* background-color: green; */
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.synopsis_title {
  font-size: 1.75rem;
  font-weight: bold;
  color: white;
  margin-bottom: 56px;
}
.synopsis_text {
  color: white;
  line-height: 36px;
  text-align: center;
  font-weight: 200;
  font-size: 1.125rem;
  opacity: 0.6;
}
