.video_wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/video_back.jpg) no-repeat center;
  background-size: 120%;
  background-position-y: 0px;
  background-attachment: fixed;
}
.video {
  width: 1390px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
iframe {
  margin-top: 90px;
  /* border-radius: 6px; */
}

.video_title {
  margin-top: -10px;
  font-size: 1.875rem;
  color: white;
  opacity: 0.9;
}
