.bestcuts {
  width: 100%;
  height: 1500px;
  /* background-color: red; */
  position: absolute;
  bottom: 370px;
}
.bestcuts_title_wrap {
  width: 100%;
  height: 64px;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  position: relative;
  top: 0px;
  left: 0px;
}
.bestcuts_main_title::before {
  content: "";
  display: block;
  width: 402px;
  border-top: 1px solid white;
  position: absolute;
  top: 30px;
  left: 0px;
  opacity: 0.7;
}
.bestcuts_main_title::after {
  content: "";
  display: block;
  width: 402px;
  border-top: 1px solid white;
  position: absolute;
  top: 30px;
  right: 0px;
  opacity: 0.7;
}
.bestcuts_main_title {
  font-size: 3rem;
  color: white;
  opacity: 0.9;
  margin-top: 10px;
}
.photo_wrap {
  width: 1160px;
  height: 1350px;
  position: absolute;
  left: 50%;
  margin-left: -580px;
  /* background-color: red; */
  margin-top: 110px;
}
.photo_wrap__list {
  height: 100%;
}
.photo_wrap__list li {
  width: 447px;
  height: 419px;
  color: white;
  overflow: hidden;
  /* background-color: red; */
}
.photo_wrap__list li img {
  width: 460px;
  height: 300px;
  transition: 0.3s ease;
}
.photo_wrap__list li img:hover {
  transform: scale(102%);
}
.moreview {
  /* background-color: red; */
  font-size: 1.6rem;
  color: white;
  position: absolute;
  top: 0px;
  right: 16px;
  font-family: "roboto";
  font-weight: 400;
  width: 100px;
  display: flex;
  justify-content: space-between;
}
.moreview a {
  opacity: 0.8;
}
.fa-arrow-right-long {
  animation: ani_more 2s infinite;
  opacity: 0.8;
}
.photo_wrap ul li p {
  text-align: center;
  font-size: 1.9rem;
  font-weight: 400;
  margin-top: 38px;
}
.photo_wrap ul li p span {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  opacity: 0.6;
  letter-spacing: 0.7px;
}
.photo_wrap_title {
  opacity: 0.9;
}
.photo_wrap_text {
  opacity: 0.9;
}
.photo_2 {
  position: absolute;
  right: 0px;
  top: 310px;
}
.photo_3 {
  position: absolute;
  left: 0px;
  top: 620px;
}
.photo_4 {
  position: absolute;
  right: 0px;
  top: 930px;
}
.saying {
  font: 900 7.6rem "Arizonia";
  position: absolute;
  bottom: 60px;
  left: 68px;
  line-height: 100px;
  opacity: 0.1;
  color: rgb(108, 108, 108);
}
/* .saying span {
  font-size: 50px;
} */
@keyframes ani_more {
  0% {
    width: 0px;
  }
  50% {
    width: 15px;
  }
  100% {
    width: 0px;
  }
}
@media screen and (max-width: 576px) {
  .bestcuts {
    width: 100%;
    height: 1450px;
    /* background-color: red; */
    position: absolute;
    bottom: 400px;
  }
  .photo_wrap {
    width: 400px;
    height: 1400px;
    left: 50%;
    margin-left: -200px;
  }
  .photo_wrap__list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* background-color: blue; */
  }
  .photo_wrap__list li {
    width: 400px;
    height: 300px;
    color: white;
    overflow: hidden;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .photo_wrap__list li img {
    width: 301px;
    height: 192px;
  }
  .saying {
    display: none;
  }
  .moreview {
    display: none;
  }
  .photo_wrap ul li p {
    font-size: 1.4rem;
    margin-top: 30px;
  }
  .photo_wrap ul li p span {
    font-size: 1.1rem;
  }
  .bestcuts_main_title {
    font-size: 1.9rem;
  }
  .photo_2 {
    position: absolute;
    right: 0px;
    top: 380px;
  }
  .photo_3 {
    position: absolute;
    left: 0px;
    top: 740px;
  }
  .photo_4 {
    position: absolute;
    right: 0px;
    top: 1100px;
  }
  .bestcuts_main_title::before {
    content: "";
    display: block;
    width: 26%;
    border-top: 1px solid white;
    position: absolute;
    top: 22px;
    left: 0px;
    opacity: 0.7;
  }
  .bestcuts_main_title::after {
    content: "";
    display: block;
    width: 26%;
    border-top: 1px solid white;
    position: absolute;
    top: 22px;
    right: 0px;
    opacity: 0.7;
  }
}
