main {
  width: 100%;
  height: 3290px;
  background-color: #272727;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.main_wrap {
  width: 1160px;
  height: 100%;
  /* background-color: red; */
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -580px;
}
.synopsis {
  width: 100%;
  height: 860px;
  /* background-color: blue; */
  position: absolute;
  top: 282px;
  display: flex;
}
.synopsis_title_wrap {
  width: 100%;
  height: 64px;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  position: relative;
  top: 0px;
  left: 0px;
}
.synopsis_main_title::before {
  content: "";
  display: block;
  width: 465px;
  border-top: 1px solid white;
  position: absolute;
  top: 30px;
  left: 0px;
  opacity: 0.7;
}
.synopsis_main_title::after {
  content: "";
  display: block;
  width: 465px;
  border-top: 1px solid white;
  position: absolute;
  top: 30px;
  right: 0px;
  opacity: 0.7;
}
.synopsis_main_title {
  font-size: 3rem;
  color: white;
  opacity: 0.9;
  margin-top: 10px;
}
.synopsis_list {
  width: 100%;
  height: 290px;
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  top: 172px;
}
.synopsis li {
  width: 361px;
  height: 242px;
}
.synopsis_list li img {
  width: 100%;
}
.synopsis_text_wrap {
  width: 100%;
  height: 296px;
  position: absolute;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}
.synopsis_title {
  font-size: 2.8rem;
  font-weight: bold;
  color: white;
  margin-bottom: 56px;
  opacity: 0.9;
}
.synopsis_text {
  color: white;
  line-height: 36px;
  text-align: center;
  font-weight: 200;
  font-size: 1.8rem;
  opacity: 0.6;
}
.synopsis_text_2 {
  color: white;
  line-height: 36px;
  text-align: center;
  font-weight: 200;
  font-size: 1.8rem;
  opacity: 0.6;
  display: none;
}
@media screen and (max-width: 1300px) {
  .main_wrap {
    width: 980px;
    /* background-color: red; */
    position: absolute;
    left: 50%;
    margin-left: -490px;
  }
  .synopsis {
    width: 100%;
    height: 860px;
    /* background-color: blue; */
    position: absolute;
    top: 282px;
    display: flex;
  }
  .synopsis li {
    width: 301px;
    height: 182px;
  }
  .synopsis_main_title {
    font-size: 2.4rem;
    color: white;
    opacity: 0.9;
    margin-top: 10px;
  }
  .synopsis_main_title::before {
    width: 41%;
    position: absolute;
    top: 24px;
    left: 0px;
  }
  .synopsis_main_title::after {
    width: 41%;
    top: 24px;
    right: 0px;
  }
  .synopsis_title {
    font-size: 2.4rem;
  }
  .synopsis_text {
    font-size: 1.6rem;
  }
  .synopsis_text_wrap {
    bottom: 70px;
  }
}
@media screen and (max-width: 768px) {
  main {
    height: 3180px;
  }
  .main_wrap {
    width: 400px;
    /* background-color: red; */
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -200px;
  }
  .synopsis {
    width: 100%;
    height: 1260px;
    /* background-color: blue; */
    position: absolute;
    top: 162px;
    display: flex;
  }
  .synopsis_list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top: 100px;
  }
  .synopsis li {
    width: 301px;
    height: 182px;
    margin-top: 70px;
  }
  .synopsis li:first-child {
    margin: 0px;
  }
  .synopsis_main_title {
    font-size: 1.8rem;
    margin-top: 0px;
  }
  .synopsis_text_wrap {
    width: 100%;
    height: 320px;
    margin-bottom: 2px;
    /* background-color: red; */
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .synopsis_title {
    font-size: 1.75rem;
    margin-bottom: 40px;
  }
  .synopsis_text {
    display: none;
  }
  .synopsis_text_2 {
    display: block;
    font-size: 1.2rem;
    line-height: 28px;
  }
  .synopsis_main_title::before {
    content: "";
    display: block;
    width: 30%;
    border-top: 1px solid white;
    position: absolute;
    top: 11px;
    left: 20px;
    opacity: 0.7;
  }
  .synopsis_main_title::after {
    content: "";
    display: block;
    width: 30%;
    border-top: 1px solid white;
    position: absolute;
    top: 11px;
    right: 20px;
    opacity: 0.7;
  }
}
