main {
  width: 100%;
  height: 3290px;
  background-color: #272727;
  position: relative;
  top: 0px;
  left: 0px;
}
.main_wrap {
  width: 1160px;
  height: 100%;
  /* background-color: red; */
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -580px;
}
.synopsis {
  width: 100%;
  height: 860px;
  /* background-color: blue; */
  position: absolute;
  top: 282px;
  display: flex;
}
.synopsis_title_wrap {
  width: 100%;
  height: 64px;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  position: relative;
  top: 0px;
  left: 0px;
}
.synopsis_main_title::before {
  content: "";
  display: block;
  width: 465px;
  border-top: 1px solid white;
  position: absolute;
  top: 30px;
  left: 0px;
  opacity: 0.7;
}
.synopsis_main_title::after {
  content: "";
  display: block;
  width: 465px;
  border-top: 1px solid white;
  position: absolute;
  top: 30px;
  right: 0px;
  opacity: 0.7;
}
.synopsis_main_title {
  font-size: 3rem;
  color: white;
  opacity: 0.9;
  margin-top: 10px;
}
.synopsis_list {
  width: 100%;
  height: 290px;
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  top: 172px;
}
.synopsis li {
  width: 361px;
  height: 242px;
}
.synopsis_list li img {
  width: 100%;
}
.synopsis_text_wrap {
  width: 100%;
  height: 296px;
  /* background-color: green; */
  position: absolute;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.synopsis_title {
  font-size: 2.8rem;
  font-weight: bold;
  color: white;
  margin-bottom: 56px;
  opacity: 0.9;
}
.synopsis_text {
  color: white;
  line-height: 36px;
  text-align: center;
  font-weight: 200;
  font-size: 1.8rem;
  opacity: 0.6;
}
