.video_wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../../img/video_back.jpg) no-repeat center;
  background-size: 120%;
  background-position-y: 0px;
  background-attachment: fixed;
}
.video {
  width: 1390px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
iframe {
  margin-top: 90px;
  width: 78%;
  height: 62%;
  /* border-radius: 6px; */
}

.video_title {
  margin-top: -10px;
  font-size: 3rem;
  color: white;
  opacity: 0.9;
}
@media screen and (max-width: 1200px) {
  .video_wrap {
    background-size: cover;
  }
  .video {
    width: 980px;
    /* background-color: red; */
    overflow: hidden;
  }
  iframe {
    margin-top: 90px;
    width: 80%;
    height: 47%;
    /* border-radius: 6px; */
  }
  .video_title {
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 768px) {
  .video_wrap {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../../img/video_back.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
  }
  .video {
    width: 400px;
    /* background-color: red; */
    overflow: hidden;
  }
  iframe {
    width: 88%;
    height: 45%;
    margin-top: 86px;
  }
  .video_title {
    font-size: 1.9rem;
  }
}
